@import 'vendor/casper';
@import 'syntax';

body {
  background: #000;
}

// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}

nav {
  .buttons {
    float: right;

    .subscribe-button {
      float: left;
      margin-right: 10px;
    }
  }
}

#content section {
  min-height: 1000px;

  .body {
    padding: 15%;
    min-width: 600px;

    h1, h2, h3, p, ul, li {
      color: white;
      text-shadow: 2px 2px #222;
    }

    .lineup {
      float: right
    }

    .buttons {
      clear: both;
    }

    clear: both;
  }
}

#transmission {
  background: #222 no-repeat center center;
  background-image: url(/images/maxresdefault.jpg);
}

.back-to-top {
  @extend .subscribe-button;
  float: left;
  position: relative;
  top: 50px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  border-color: #333;
}

.page-description {
  clear: both;
  margin: 0 auto !important;
  text-align: center;
  font-size: 3rem;
}

#sign-up-form {
  @extend .page-description;
  text-align: left;
  font-size: 2rem;
  line-height: 4rem;
}

form  {
  display: table;
}
form p     { display: table-row;  }
form label, form input { display: table-cell; }
form .field {
  margin-bottom: 10px;
}
form .controls {
  margin: 27px 0;
}
form .controls input[type="submit"] {
  padding: 15px;
}
form .field input {
  width: 98%;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

.page-title {
  text-shadow: 2px 2px #222;
}
