@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}

nav {
  .buttons {
    float: right;

    .subscribe-button {
      float: left;
      margin-right: 10px;
    }
  }
}
