%section#transmission
  .body
    %h1
      friday, april 24th at 10pm
    %p
      live on <u>http://brother.ly</u>, with musical guests...
    %ul
      %li michael nighttime
      %li mambisa
      %li highly desirable
      %li the wonder bars
    .buttons
      %a.back-to-top.icon-arrow-left{href: '#', data: {offset: '-45'}} Back To Top
