%section#transmission
  .body
    %h1 next transmission
    %h2 friday, april 24th at 10pm

    .lineup
      %h3 featuring...
      %ul
        %li michael nighttime
        %li mambisa
        %li the wonder bars
        %li highly desirable
    .buttons
      %a.back-to-top.icon-arrow-left{href: '#', data: {offset: '-45'}} Back To Top
