%nav.main-nav.overlay.clearfix
  /%a.blog-logo{href: home_path}= image_tag 'logo.png', alt: 'brother.ly'
  %section.buttons
    = link_to_icon :location, 'Next', '#transmission'
    = link_to_icon :feed, 'Subscribe', data.site.youtube_url, target: '_blank'
    = link_to_icon :twitter, 'Follow', data.site.twitter_url, target: '_blank'
    = link_to_icon :facebook, 'Like', data.site.facebook_url, target: '_blank'
