%nav.main-nav.overlay.clearfix
  /%a.blog-logo{href: home_path}= image_tag 'logo.png', alt: 'brother.ly'
  %section.buttons
    %a.subscribe-button.icon-location{href: '#transmission'} Next Transmission
    %a.subscribe-button.icon-feed{href: env.youtube_link, target: '_blank'} Subscribe
    %a.subscribe-button.icon-twitter{href: env.twitter_link, target: '_blank'} Follow
    %a.subscribe-button.icon-facebook{href: env.facebook_link, target: '_blank'} Like
