%nav.main-nav.overlay.clearfix
  /%a.blog-logo{href: home_path}= image_tag 'logo.png', alt: 'brother.ly'
  %section.buttons
    %a.subscribe-button.icon-feed{href: '#transmission'} Next Transmission
    %a.subscribe-button.icon-feed{href: current_page.data.youtube} Subscribe
    %a.subscribe-button.icon-twitter{href: current_page.data.twitter} Follow
