%section#transmission
  .body
    .information
      %h1
        next transmission...
      %h1
        friday, april 24th at 10pm
      %p
        from a private undisclosed location in philadelphia
      %p
        live video transmission on <a href="http://brother.ly">http://brother.ly</a>.
      %h3 featuring...
      %ul.artists
        - data.artists.each do |name, attributes|
          %li{ id: name }
            = link_to_artist name.titleize.downcase
            .bio
              %p
                %strong= link_to 'soundcloud', attributes[:soundcloud], target: '_blank'
              = markdown attributes[:biography]
      .buttons
        %a.back-to-top.icon-arrow-left{href: '#', data: {offset: '-45'}} Back To Top
