---
cover: blurred.jpg
open_signups: true
---

%header.main-header{cover}
  = partial :navigation
  .vertical
    #splash.main-header-content.inner

      %h1.page-title brother.ly
      %h2.page-description#slogan
        a private, intimate showcase of
        philadelphia's live electronic music scene

      - if current_page.data.open_signups
        = partial :signup
      - else
        %h2.page-description#signups-closed coming soon...

  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial :transmission
