---
pageable: true
per_page: 6
cover: test-cover.jpg
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: 'brother.ly'
    %section.buttons
      %a.subscribe-button.icon-stats{href: home_path+'#next'} Watch
      %a.subscribe-button.icon-feed{href: feed_path} Subscribe
      %a.subscribe-button.icon-location{href: home_path+'#next'} Experience
  .vertical
    .main-header-content.inner
      %h1.page-title= blog_settings.name
      %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial(:page_articles)
